<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mapper.StaffDetailsMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.model.StaffDetails">
    <id column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="date_of_birth" jdbcType="DATE" property="dateOfBirth" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="martial_status" jdbcType="VARCHAR" property="martialStatus" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="postal_code" jdbcType="INTEGER" property="postalCode" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="date_hired" jdbcType="DATE" property="dateHired" />
    <result column="date_resign" jdbcType="DATE" property="dateResign" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <association property="department" javaType="com.company.payroll.model.Department">
      <id column="dept_no" jdbcType="INTEGER" property="deptNo" />
      <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
      <result column="dept_address" jdbcType="VARCHAR" property="deptAddress" />
      <result column="postal_code" jdbcType="INTEGER" property="postalCode" />
      <result column="state" jdbcType="VARCHAR" property="state" />
      <result column="country" jdbcType="VARCHAR" property="country" />
    </association>
    <association property="title" javaType="com.company.payroll.model.Title">
      <id column="title_no" jdbcType="INTEGER" property="titleNo" />
      <result column="title_name" jdbcType="VARCHAR" property="titleName" />
      <result column="title_desc" jdbcType="VARCHAR" property="titleDesc" />
    </association>
    <association property="staffLeaveDetails" javaType="com.company.payroll.model.StaffLeaveDetails">
      <id column="ld_id" jdbcType="INTEGER" property="ldId" />
      <result column="annual_leave" jdbcType="INTEGER" property="annualLeave" />
      <result column="hospitality_leave" jdbcType="INTEGER" property="hospitalityLeave" />
      <result column="maternity_leave" jdbcType="INTEGER" property="maternityLeave" />
      <result column="unpaid_leave" jdbcType="INTEGER" property="unpaidLeave" />
    </association>
    <association property="staffSalary" javaType="com.company.payroll.model.StaffSalary">
      <id column="s_id" jdbcType="INTEGER" property="sId" />
      <result column="monthly_salary" jdbcType="DECIMAL" property="monthlySalary" />
      <result column="annual_salary" jdbcType="DECIMAL" property="annualSalary" />
      <result column="date_update" jdbcType="DATE" property="dateUpdate" />
    </association>
    <association property="staffBankingInfo" javaType="com.company.payroll.model.StaffBankingInfo">
      <id column="b_id" jdbcType="INTEGER" property="bId" />
      <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
      <result column="bank_account" jdbcType="BIGINT" property="bankAccount" />
      <result column="income_tax_no" jdbcType="VARCHAR" property="incomeTaxNo" />
      <result column="epf_no" jdbcType="INTEGER" property="epfNo" />
    </association>
    <association property="manager" javaType="com.company.payroll.model.StaffDetails">
      <id column="manager_id" jdbcType="INTEGER" property="staffId" />
      <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
      <result column="gender" jdbcType="VARCHAR" property="gender" />
      <result column="date_of_birth" jdbcType="DATE" property="dateOfBirth" />
      <result column="age" jdbcType="INTEGER" property="age" />
      <result column="martial_status" jdbcType="VARCHAR" property="martialStatus" />
      <result column="education" jdbcType="VARCHAR" property="education" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="postal_code" jdbcType="INTEGER" property="postalCode" />
      <result column="state" jdbcType="VARCHAR" property="state" />
      <result column="country" jdbcType="VARCHAR" property="country" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="date_hired" jdbcType="DATE" property="dateHired" />
      <result column="date_resign" jdbcType="DATE" property="dateResign" />
      <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
      <result column="dept_no" jdbcType="INTEGER" property="deptNo" />
      <result column="title_no" jdbcType="INTEGER" property="titleNo" />
      <result column="ld_id" jdbcType="INTEGER" property="ldId" />
      <result column="s_id" jdbcType="INTEGER" property="sId" />
      <result column="b_id" jdbcType="INTEGER" property="bId" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    staff_id, staff_name, gender, date_of_birth, age, martial_status, education, address, 
    postal_code, state, country, phone, email, date_hired, date_resign, img_path, dept_no, 
    title_no, manager_id, ld_id, s_id, b_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff_details
    where staff_id = #{staffId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from staff_details
    where staff_id = #{staffId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.model.StaffDetails">
    insert into staff_details (staff_id, staff_name, gender, 
      date_of_birth, age, martial_status, 
      education, address, postal_code, 
      state, country, phone, 
      email, date_hired, date_resign, 
      img_path, dept_no, title_no, 
      manager_id, ld_id, s_id, 
      b_id)
    values (#{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{dateOfBirth,jdbcType=DATE}, #{age,jdbcType=INTEGER}, #{martialStatus,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{postalCode,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{dateHired,jdbcType=DATE}, #{dateResign,jdbcType=DATE}, 
      #{imgPath,jdbcType=VARCHAR}, #{deptNo,jdbcType=INTEGER}, #{titleNo,jdbcType=INTEGER}, 
      #{managerId,jdbcType=INTEGER}, #{ldId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, 
      #{bId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.model.StaffDetails">
    insert into staff_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="dateOfBirth != null">
        date_of_birth,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="martialStatus != null">
        martial_status,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="postalCode != null">
        postal_code,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="dateHired != null">
        date_hired,
      </if>
      <if test="dateResign != null">
        date_resign,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="deptNo != null">
        dept_no,
      </if>
      <if test="titleNo != null">
        title_no,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="ldId != null">
        ld_id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="bId != null">
        b_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        #{dateOfBirth,jdbcType=DATE},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="martialStatus != null">
        #{martialStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        #{postalCode,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="dateHired != null">
        #{dateHired,jdbcType=DATE},
      </if>
      <if test="dateResign != null">
        #{dateResign,jdbcType=DATE},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=INTEGER},
      </if>
      <if test="titleNo != null">
        #{titleNo,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="ldId != null">
        #{ldId,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.model.StaffDetails">
    update staff_details
    <set>
      <if test="staffName != null">
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        date_of_birth = #{dateOfBirth,jdbcType=DATE},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="martialStatus != null">
        martial_status = #{martialStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        postal_code = #{postalCode,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="dateHired != null">
        date_hired = #{dateHired,jdbcType=DATE},
      </if>
      <if test="dateResign != null">
        date_resign = #{dateResign,jdbcType=DATE},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        dept_no = #{deptNo,jdbcType=INTEGER},
      </if>
      <if test="titleNo != null">
        title_no = #{titleNo,jdbcType=INTEGER},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="ldId != null">
        ld_id = #{ldId,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="bId != null">
        b_id = #{bId,jdbcType=INTEGER},
      </if>
    </set>
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.model.StaffDetails">
    update staff_details
    set staff_name = #{staffName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      date_of_birth = #{dateOfBirth,jdbcType=DATE},
      age = #{age,jdbcType=INTEGER},
      martial_status = #{martialStatus,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      date_hired = #{dateHired,jdbcType=DATE},
      date_resign = #{dateResign,jdbcType=DATE},
      img_path = #{imgPath,jdbcType=VARCHAR},
      dept_no = #{deptNo,jdbcType=INTEGER},
      title_no = #{titleNo,jdbcType=INTEGER},
      manager_id = #{managerId,jdbcType=INTEGER},
      ld_id = #{ldId,jdbcType=INTEGER},
      s_id = #{sId,jdbcType=INTEGER},
      b_id = #{bId,jdbcType=INTEGER}
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>
</mapper>