<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mapper.StaffPromotionMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.model.StaffPromotion">
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="current_salary" jdbcType="DECIMAL" property="currentSalary" />
    <result column="promote_salary" jdbcType="DECIMAL" property="promoteSalary" />
    <result column="promote_date" jdbcType="DATE" property="promoteDate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <association property="title" javaType="com.company.payroll.model.Title">
      <id column="title_no" jdbcType="INTEGER" property="titleNo" />
      <result column="title_name" jdbcType="VARCHAR" property="titleName" />
      <result column="title_desc" jdbcType="VARCHAR" property="titleDesc" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    p_id, current_salary, promote_salary, promote_date, comment, title_no, staff_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff_promotion
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from staff_promotion
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.model.StaffPromotion">
    insert into staff_promotion (p_id, current_salary, promote_salary, 
      promote_date, comment, title_no, 
      staff_id)
    values (#{pId,jdbcType=INTEGER}, #{currentSalary,jdbcType=DECIMAL}, #{promoteSalary,jdbcType=DECIMAL}, 
      #{promoteDate,jdbcType=DATE}, #{comment,jdbcType=VARCHAR}, #{titleNo,jdbcType=INTEGER}, 
      #{staffId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.model.StaffPromotion">
    insert into staff_promotion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="currentSalary != null">
        current_salary,
      </if>
      <if test="promoteSalary != null">
        promote_salary,
      </if>
      <if test="promoteDate != null">
        promote_date,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="titleNo != null">
        title_no,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="currentSalary != null">
        #{currentSalary,jdbcType=DECIMAL},
      </if>
      <if test="promoteSalary != null">
        #{promoteSalary,jdbcType=DECIMAL},
      </if>
      <if test="promoteDate != null">
        #{promoteDate,jdbcType=DATE},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="titleNo != null">
        #{titleNo,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.model.StaffPromotion">
    update staff_promotion
    <set>
      <if test="currentSalary != null">
        current_salary = #{currentSalary,jdbcType=DECIMAL},
      </if>
      <if test="promoteSalary != null">
        promote_salary = #{promoteSalary,jdbcType=DECIMAL},
      </if>
      <if test="promoteDate != null">
        promote_date = #{promoteDate,jdbcType=DATE},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="titleNo != null">
        title_no = #{titleNo,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.model.StaffPromotion">
    update staff_promotion
    set current_salary = #{currentSalary,jdbcType=DECIMAL},
      promote_salary = #{promoteSalary,jdbcType=DECIMAL},
      promote_date = #{promoteDate,jdbcType=DATE},
      comment = #{comment,jdbcType=VARCHAR},
      title_no = #{titleNo,jdbcType=INTEGER},
      staff_id = #{staffId,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>