<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mapper.AvatarMapper">
	<resultMap id="BaseResultMap" type="com.company.payroll.model.ProfileImage">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="realName" column="realname" jdbcType="VARCHAR"/>
		<result property="newName" column="newname" jdbcType="VARCHAR"/>
		<result property="filePath" column="filepath" jdbcType="VARCHAR"/> 
		<result property="fileSize" column="filesize" jdbcType="BIGINT"/>
		<result property="fileType" column="filetype" jdbcType="VARCHAR"/> 
		<result property="updateDate" column="updatedate" jdbcType="DATE"/>
		<result property="sapid" column="sapid" jdbcType="INTEGER"/>
	</resultMap>
	<sql id="tb">avatar</sql>
	<sql id="Base_Column_List">id, realname, newname, filepath, filesize, filetype, updatedate, sapid</sql>
	
	<!-- Select image by sapid -->
	<select id="selectAvatar" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT `realname`, `newname`, `filepath`
		FROM
		<include refid="tb"/>
		WHERE sapid=#{sapid, jdbcType=INTEGER};
	</select>
	
	<!-- Insert new image -->
	<insert id="insertAvatar" parameterType="com.company.payroll.model.ProfileImage">
		INSERT INTO 
		<include refid="tb"/>
		(realname, newname, filepath, filesize, filetype, updatedate, sapid)
		VALUES(#{realName, jdbcType=VARCHAR}, #{newName, jdbcType=VARCHAR}, #{filePath, jdbcType=VARCHAR}, #{fileSize, jdbcType=BIGINT}, #{fileType, jdbcType=VARCHAR}, #{updateDate, jdbcType=DATE}, #{sapid, jdbcType=INTEGER})
	</insert>

  
	<!-- Update image -->
	<update id="updateAvatar" parameterType="com.company.payroll.model.ProfileImage">
		UPDATE
		<include refid="tb"/>
		<set>
		<if test="realName != null">realname=#{realName, jdbcType=VARCHAR},</if>
		<if test="newName != null">newname=#{newName, jdbcType=VARCHAR},</if>
		<if test="filePath != null">filepath=#{filePath, jdbcType=VARCHAR},</if>
		<if test="fileSize != null">filesize=#{fileSize, jdbcType=BIGINT},</if>
		<if test="fileType != null">filetype=#{fileType, jdbcType=VARCHAR},</if>
		<if test="updateDate != null">updatedate=#{updateDate, jdbcType=DATE},</if>
		</set>
    	WHERE sapid=#{sapid, jdbcType=INTEGER};
	</update>

</mapper>