<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mapper.LoanMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.model.Loan">
    <id column="loan_id" jdbcType="INTEGER" property="loanId" />
    <result column="refnum" jdbcType="VARCHAR" property="refnum" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="loanamount" jdbcType="DECIMAL" property="loanamount" />
    <result column="applicationdate" jdbcType="DATE" property="applicationdate" />
    <result column="loanstatus" jdbcType="TINYINT" property="loanstatus" />
    <result column="dateapproved" jdbcType="DATE" property="dateapproved" />
    <result column="e_id" jdbcType="INTEGER" property="eId" />
    <result column="m_id" jdbcType="INTEGER" property="mId" />
  </resultMap>
  <sql id="Base_Column_List">
    loan_id, refnum, reason, loanamount, applicationdate, loanstatus, dateapproved, e_id, 
    m_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan
    where loan_id = #{loanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from loan
    where loan_id = #{loanId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.model.Loan">
    insert into loan (loan_id, refnum, reason, 
      loanamount, applicationdate, loanstatus, 
      dateapproved, e_id, m_id
      )
    values (#{loanId,jdbcType=INTEGER}, #{refnum,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{loanamount,jdbcType=DECIMAL}, #{applicationdate,jdbcType=DATE}, #{loanstatus,jdbcType=TINYINT}, 
      #{dateapproved,jdbcType=DATE}, #{eId,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.model.Loan">
    insert into loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loanId != null">
        loan_id,
      </if>
      <if test="refnum != null">
        refnum,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="loanamount != null">
        loanamount,
      </if>
      <if test="applicationdate != null">
        applicationdate,
      </if>
      <if test="loanstatus != null">
        loanstatus,
      </if>
      <if test="dateapproved != null">
        dateapproved,
      </if>
      <if test="eId != null">
        e_id,
      </if>
      <if test="mId != null">
        m_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loanId != null">
        #{loanId,jdbcType=INTEGER},
      </if>
      <if test="refnum != null">
        #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="loanamount != null">
        #{loanamount,jdbcType=DECIMAL},
      </if>
      <if test="applicationdate != null">
        #{applicationdate,jdbcType=DATE},
      </if>
      <if test="loanstatus != null">
        #{loanstatus,jdbcType=TINYINT},
      </if>
      <if test="dateapproved != null">
        #{dateapproved,jdbcType=DATE},
      </if>
      <if test="eId != null">
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="mId != null">
        #{mId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.model.Loan">
    update loan
    <set>
      <if test="refnum != null">
        refnum = #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="loanamount != null">
        loanamount = #{loanamount,jdbcType=DECIMAL},
      </if>
      <if test="applicationdate != null">
        applicationdate = #{applicationdate,jdbcType=DATE},
      </if>
      <if test="loanstatus != null">
        loanstatus = #{loanstatus,jdbcType=TINYINT},
      </if>
      <if test="dateapproved != null">
        dateapproved = #{dateapproved,jdbcType=DATE},
      </if>
      <if test="eId != null">
        e_id = #{eId,jdbcType=INTEGER},
      </if>
      <if test="mId != null">
        m_id = #{mId,jdbcType=INTEGER},
      </if>
    </set>
    where loan_id = #{loanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.model.Loan">
    update loan
    set refnum = #{refnum,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      loanamount = #{loanamount,jdbcType=DECIMAL},
      applicationdate = #{applicationdate,jdbcType=DATE},
      loanstatus = #{loanstatus,jdbcType=TINYINT},
      dateapproved = #{dateapproved,jdbcType=DATE},
      e_id = #{eId,jdbcType=INTEGER},
      m_id = #{mId,jdbcType=INTEGER}
    where loan_id = #{loanId,jdbcType=INTEGER}
  </update>
</mapper>