<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mapper.AtmsStaffAttendanceMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.model.AtmsStaffAttendance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date_working" jdbcType="DATE" property="dateWorking" />
    <result column="in_time_1" jdbcType="TIMESTAMP" property="inTime1" />
    <result column="out_time_1" jdbcType="TIMESTAMP" property="outTime1" />
    <result column="in_time_2" jdbcType="TIMESTAMP" property="inTime2" />
    <result column="out_time_2" jdbcType="TIMESTAMP" property="outTime2" />
    <result column="in_time_3" jdbcType="TIMESTAMP" property="inTime3" />
    <result column="out_time_3" jdbcType="TIMESTAMP" property="outTime3" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date_working, in_time_1, out_time_1, in_time_2, out_time_2, in_time_3, out_time_3, 
    staff_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from atms_staff_attendance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from atms_staff_attendance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.model.AtmsStaffAttendance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into atms_staff_attendance (id, date_working, in_time_1, out_time_1, 
      in_time_2, out_time_2, in_time_3, 
      out_time_3, staff_id)
    values (#{id,jdbcType=BIGINT}, #{dateWorking,jdbcType=DATE}, #{inTime1,jdbcType=TIMESTAMP}, #{outTime1,jdbcType=TIMESTAMP}, 
      #{inTime2,jdbcType=TIMESTAMP}, #{outTime2,jdbcType=TIMESTAMP}, #{inTime3,jdbcType=TIMESTAMP}, 
      #{outTime3,jdbcType=TIMESTAMP}, #{staffId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.model.AtmsStaffAttendance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into atms_staff_attendance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dateWorking != null">
        date_working,
      </if>
      <if test="inTime1 != null">
        in_time_1,
      </if>
      <if test="outTime1 != null">
        out_time_1,
      </if>
      <if test="inTime2 != null">
        in_time_2,
      </if>
      <if test="outTime2 != null">
        out_time_2,
      </if>
      <if test="inTime3 != null">
        in_time_3,
      </if>
      <if test="outTime3 != null">
        out_time_3,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dateWorking != null">
        #{dateWorking,jdbcType=DATE},
      </if>
      <if test="inTime1 != null">
        #{inTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime1 != null">
        #{outTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="inTime2 != null">
        #{inTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime2 != null">
        #{outTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="inTime3 != null">
        #{inTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime3 != null">
        #{outTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.model.AtmsStaffAttendance">
    update atms_staff_attendance
    <set>
      <if test="dateWorking != null">
        date_working = #{dateWorking,jdbcType=DATE},
      </if>
      <if test="inTime1 != null">
        in_time_1 = #{inTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime1 != null">
        out_time_1 = #{outTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="inTime2 != null">
        in_time_2 = #{inTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime2 != null">
        out_time_2 = #{outTime2,jdbcType=TIMESTAMP},
      </if>
      <if test="inTime3 != null">
        in_time_3 = #{inTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime3 != null">
        out_time_3 = #{outTime3,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.model.AtmsStaffAttendance">
    update atms_staff_attendance
    set date_working = #{dateWorking,jdbcType=DATE},
      in_time_1 = #{inTime1,jdbcType=TIMESTAMP},
      out_time_1 = #{outTime1,jdbcType=TIMESTAMP},
      in_time_2 = #{inTime2,jdbcType=TIMESTAMP},
      out_time_2 = #{outTime2,jdbcType=TIMESTAMP},
      in_time_3 = #{inTime3,jdbcType=TIMESTAMP},
      out_time_3 = #{outTime3,jdbcType=TIMESTAMP},
      staff_id = #{staffId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>