<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mapper.PmsPayrollMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.model.PmsPayroll">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="basic_pay" jdbcType="DECIMAL" property="basicPay" />
    <result column="overtime_pay" jdbcType="DECIMAL" property="overtimePay" />
    <result column="allowance" jdbcType="DECIMAL" property="allowance" />
    <result column="transport" jdbcType="DECIMAL" property="transport" />
    <result column="loan_deduction" jdbcType="DECIMAL" property="loanDeduction" />
    <result column="other_deduction" jdbcType="DECIMAL" property="otherDeduction" />
    <result column="employee_epf" jdbcType="DECIMAL" property="employeeEpf" />
    <result column="employee_socso" jdbcType="DECIMAL" property="employeeSocso" />
    <result column="employee_eis" jdbcType="DECIMAL" property="employeeEis" />
    <result column="employer_epf" jdbcType="DECIMAL" property="employerEpf" />
    <result column="employer_socso" jdbcType="DECIMAL" property="employerSocso" />
    <result column="employer_eis" jdbcType="DECIMAL" property="employerEis" />
    <result column="mtd_pcb" jdbcType="DECIMAL" property="mtdPcb" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="pay_period" jdbcType="VARCHAR" property="payPeriod" />
    <result column="date_issue" jdbcType="DATE" property="dateIssue" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, basic_pay, overtime_pay, allowance, transport, loan_deduction, other_deduction, 
    employee_epf, employee_socso, employee_eis, employer_epf, employer_socso, employer_eis, 
    mtd_pcb, total, pay_period, date_issue, staff_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_payroll
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_payroll
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.model.PmsPayroll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_payroll (basic_pay, overtime_pay, allowance, 
      transport, loan_deduction, other_deduction, 
      employee_epf, employee_socso, employee_eis, 
      employer_epf, employer_socso, employer_eis, 
      mtd_pcb, total, pay_period, 
      date_issue, staff_id)
    values (#{basicPay,jdbcType=DECIMAL}, #{overtimePay,jdbcType=DECIMAL}, #{allowance,jdbcType=DECIMAL}, 
      #{transport,jdbcType=DECIMAL}, #{loanDeduction,jdbcType=DECIMAL}, #{otherDeduction,jdbcType=DECIMAL}, 
      #{employeeEpf,jdbcType=DECIMAL}, #{employeeSocso,jdbcType=DECIMAL}, #{employeeEis,jdbcType=DECIMAL}, 
      #{employerEpf,jdbcType=DECIMAL}, #{employerSocso,jdbcType=DECIMAL}, #{employerEis,jdbcType=DECIMAL}, 
      #{mtdPcb,jdbcType=DECIMAL}, #{total,jdbcType=DECIMAL}, #{payPeriod,jdbcType=VARCHAR}, 
      #{dateIssue,jdbcType=DATE}, #{staffId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.model.PmsPayroll">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_payroll
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="basicPay != null">
        basic_pay,
      </if>
      <if test="overtimePay != null">
        overtime_pay,
      </if>
      <if test="allowance != null">
        allowance,
      </if>
      <if test="transport != null">
        transport,
      </if>
      <if test="loanDeduction != null">
        loan_deduction,
      </if>
      <if test="otherDeduction != null">
        other_deduction,
      </if>
      <if test="employeeEpf != null">
        employee_epf,
      </if>
      <if test="employeeSocso != null">
        employee_socso,
      </if>
      <if test="employeeEis != null">
        employee_eis,
      </if>
      <if test="employerEpf != null">
        employer_epf,
      </if>
      <if test="employerSocso != null">
        employer_socso,
      </if>
      <if test="employerEis != null">
        employer_eis,
      </if>
      <if test="mtdPcb != null">
        mtd_pcb,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="payPeriod != null">
        pay_period,
      </if>
      <if test="dateIssue != null">
        date_issue,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="basicPay != null">
        #{basicPay,jdbcType=DECIMAL},
      </if>
      <if test="overtimePay != null">
        #{overtimePay,jdbcType=DECIMAL},
      </if>
      <if test="allowance != null">
        #{allowance,jdbcType=DECIMAL},
      </if>
      <if test="transport != null">
        #{transport,jdbcType=DECIMAL},
      </if>
      <if test="loanDeduction != null">
        #{loanDeduction,jdbcType=DECIMAL},
      </if>
      <if test="otherDeduction != null">
        #{otherDeduction,jdbcType=DECIMAL},
      </if>
      <if test="employeeEpf != null">
        #{employeeEpf,jdbcType=DECIMAL},
      </if>
      <if test="employeeSocso != null">
        #{employeeSocso,jdbcType=DECIMAL},
      </if>
      <if test="employeeEis != null">
        #{employeeEis,jdbcType=DECIMAL},
      </if>
      <if test="employerEpf != null">
        #{employerEpf,jdbcType=DECIMAL},
      </if>
      <if test="employerSocso != null">
        #{employerSocso,jdbcType=DECIMAL},
      </if>
      <if test="employerEis != null">
        #{employerEis,jdbcType=DECIMAL},
      </if>
      <if test="mtdPcb != null">
        #{mtdPcb,jdbcType=DECIMAL},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="payPeriod != null">
        #{payPeriod,jdbcType=VARCHAR},
      </if>
      <if test="dateIssue != null">
        #{dateIssue,jdbcType=DATE},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.model.PmsPayroll">
    update pms_payroll
    <set>
      <if test="basicPay != null">
        basic_pay = #{basicPay,jdbcType=DECIMAL},
      </if>
      <if test="overtimePay != null">
        overtime_pay = #{overtimePay,jdbcType=DECIMAL},
      </if>
      <if test="allowance != null">
        allowance = #{allowance,jdbcType=DECIMAL},
      </if>
      <if test="transport != null">
        transport = #{transport,jdbcType=DECIMAL},
      </if>
      <if test="loanDeduction != null">
        loan_deduction = #{loanDeduction,jdbcType=DECIMAL},
      </if>
      <if test="otherDeduction != null">
        other_deduction = #{otherDeduction,jdbcType=DECIMAL},
      </if>
      <if test="employeeEpf != null">
        employee_epf = #{employeeEpf,jdbcType=DECIMAL},
      </if>
      <if test="employeeSocso != null">
        employee_socso = #{employeeSocso,jdbcType=DECIMAL},
      </if>
      <if test="employeeEis != null">
        employee_eis = #{employeeEis,jdbcType=DECIMAL},
      </if>
      <if test="employerEpf != null">
        employer_epf = #{employerEpf,jdbcType=DECIMAL},
      </if>
      <if test="employerSocso != null">
        employer_socso = #{employerSocso,jdbcType=DECIMAL},
      </if>
      <if test="employerEis != null">
        employer_eis = #{employerEis,jdbcType=DECIMAL},
      </if>
      <if test="mtdPcb != null">
        mtd_pcb = #{mtdPcb,jdbcType=DECIMAL},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="payPeriod != null">
        pay_period = #{payPeriod,jdbcType=VARCHAR},
      </if>
      <if test="dateIssue != null">
        date_issue = #{dateIssue,jdbcType=DATE},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.model.PmsPayroll">
    update pms_payroll
    set basic_pay = #{basicPay,jdbcType=DECIMAL},
      overtime_pay = #{overtimePay,jdbcType=DECIMAL},
      allowance = #{allowance,jdbcType=DECIMAL},
      transport = #{transport,jdbcType=DECIMAL},
      loan_deduction = #{loanDeduction,jdbcType=DECIMAL},
      other_deduction = #{otherDeduction,jdbcType=DECIMAL},
      employee_epf = #{employeeEpf,jdbcType=DECIMAL},
      employee_socso = #{employeeSocso,jdbcType=DECIMAL},
      employee_eis = #{employeeEis,jdbcType=DECIMAL},
      employer_epf = #{employerEpf,jdbcType=DECIMAL},
      employer_socso = #{employerSocso,jdbcType=DECIMAL},
      employer_eis = #{employerEis,jdbcType=DECIMAL},
      mtd_pcb = #{mtdPcb,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      pay_period = #{payPeriod,jdbcType=VARCHAR},
      date_issue = #{dateIssue,jdbcType=DATE},
      staff_id = #{staffId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>