<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.payroll.mapper.SysDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.company.payroll.model.SysDepartment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="division_name" jdbcType="VARCHAR" property="divisionName" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="manager_id" jdbcType="BIGINT" property="managerId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, division_name, location, manager_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_department
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_department
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.company.payroll.model.SysDepartment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_department (division_name, location, manager_id
      )
    values (#{divisionName,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{managerId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.payroll.model.SysDepartment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="divisionName != null">
        division_name,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="divisionName != null">
        #{divisionName,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.payroll.model.SysDepartment">
    update sys_department
    <set>
      <if test="divisionName != null">
        division_name = #{divisionName,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.payroll.model.SysDepartment">
    update sys_department
    set division_name = #{divisionName,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>