<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Payroll Management System - Main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:inline="javascript"> var $contextPath = /*[[@{/}]]*/ ''; </script>
  </head>

  <body>
      <div class="container-login">
        <div class="wrap-login p-l-85 p-r-85 p-t-55 p-b-55">
          <form class="login-form flex-sb flex-w" onsubmit="javascript:loginValidate(); return false;">
            <span class="login-form-title p-b-32">System Login</span>
            <span class="txt1 p-b-11">Username</span>
            <div class="wrap-input validate-input m-b-36">
              <input class="input" type="text" name="sapid">
              <span class="focus-input"></span>
            </div>
            <span class="txt1 p-b-11">Password</span>
            <div class="wrap-input validate-input m-b-12">
              <input class="input" type="password" name="password">
              <span class="focus-input"></span>
            </div>
            <div class="flex-sb-m w-full p-b-48">
              <div class="container-login-form-btn">
                <button class="login-form-btn">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    <script th:src="@{/js/home/login.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
  </body>
</html>